<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928082185030-hmobsdfndn8imedrnollf2fuat9ddoof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928082185030-hmobsdfndn8imedrnollf2fuat9ddoof</string>
	<key>API_KEY</key>
	<string>AIzaSyABoYrGh0E5sNhhkPUpUpc-84TjOf2WhB8</string>
	<key>GCM_SENDER_ID</key>
	<string>928082185030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noonpool.app</string>
	<key>PROJECT_ID</key>
	<string>noonpool-001</string>
	<key>STORAGE_BUCKET</key>
	<string>noonpool-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928082185030:ios:1a4e1295eb2a311323f347</string>
</dict>
</plist>